<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<title>test</title>
</head>
<body>
	<div>
	<div class="container" style="display: inline-block;width:35%;float: left;margin: 2% 0% 0% 10%">
	<form method="POST" action={% url "home" %}>
  <div class="form-group">
    <input type="text" name="fname" style="width: 400px;" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <input type="text" name="lname" style="width: 400px;" class="form-control" id="lname" aria-describedby="emailHelp" placeholder="Enter Last Name">
  </div>
  <button type="submit" class="btn btn-primary" onclick="clear()">Submit</button>
  </div>
  {% csrf_token %}
</form>
</div>
<div class="container" style="display: inline-block;width:35%;float: right; margin: 2% 10% 0% 0%;">
<table class="table" align="center">
	<thead align="center">
		<th>First Name</th>
		<th>Last Name</th>
	</thead>
	<tbody align="center">
	{% for i in data %}
	<tr>
		<td>{{i.fname}}</td>
		<td>{{i.lname}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>


<script type="text/javascript">

function clear(){
	var a=document.getElementById('fname');
	var b=document.getElementById('lname');
	a.value = ""
	b.value = ""
}	


</script>
</body>
</html>